*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* header-nav */

header{
    width: 100%;
    background-color: rgb(34, 148, 235);
}

.conteiner {
    width: 90%;
    margin: auto;
}

.text-center{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.nav-sx{
    flex-basis: 30%;
}

 .nav-dx{
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}

.nav-sx img{
    width: 20%;
}

.nav-dx svg {
    fill: white;
    width: 10%;
    justify-content: flex-end;
}

/* section-card-1  e 2*/
.card{
    background-color: rgba(44, 221, 227, 0.47);
    width: 100%;
    margin: 25px 0;
    border-radius: 20px;
    padding: 20px 20px;
}

.titolo-blu{
    color:rgb(34, 148, 235) ;
    margin: 10px 0;
}

.app-store{
    background-color:rgb(34, 148, 235) ;
    border-radius: 20px;
    padding: 5px 35px;
    margin: 10px 0;
    border: none;
    color: white;
    margin: 15px 0;
}

.phone img {
    width: 100%;
}


.svg-card{
    fill: rgb(34, 148, 235);
    width: 20%;
}


/* section 3 - strategic planning */

.section-strategic{
    width: 100%;
    background-color: rgb(173, 99, 213);
    padding: 30px 0;  
}

.card-strategic img, .card-web img {
    width: 100%;
}

.titolo-white{
    color:white;
    margin: 20px 0;
}

.titolo-black{
    color: black;
    margin: 20px 0;
}

.card-web{
    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    text-align: center;
    padding: 0px 15px;
}

.testo-white{
    color: white;
}

.freccia{
    background-color: rgb(173, 99, 213) ;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 20px 10px ;
    display: inline-block;
}

    








@media screen 
and ( min-width: 426px )
and ( max-width: 768px ) {

    .section-card-1, .section-card-2 {
        display: flex;
        justify-content: space-between;
    }

    .card-demo{
        flex-basis: 60%;
    }

    .card-clean{
        flex-basis: 38%;
    }

    .web-design, .dev, .branding{
        flex-basis: 31%;
    }
    
}
    



@media screen 
and ( min-width: 769px ) {

    .section-card-1, .section-card-2{
        display: flex;
        justify-content: space-between;
    }

    .card-demo{
        flex-basis: 60%;
        display: flex;      
    }

    .card-clean{
        flex-basis: 38%;
    }

    .testo, .phone{
        flex-basis: 48%;    
    }

    .web-design, .dev, .branding{
        flex-basis: 31%;
    }

    .card-planning{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card-web, .card-strategic{
        flex-basis: 48%;
    }

    .card-web img{
        width: 50%;
    }   
    
}
    
